@import "styles/variables.scss";

.action-card {
  position: relative;
  @include flex-row-start-nowrap;
  color: $brand-black;
  border-radius: 10px;
  padding: 19px 24px;
  width: 31.25%;
  @include transition(0.4s);

  &:hover {
    transform: scale(1.02);
  }

  @include breakpoint-down(lg) {
    width: 32%;
    padding: 15px;
  }

  @include breakpoint-down(md) {
    width: 32.5%;
  }

  @include breakpoint-down(sm) {
    margin-bottom: toRem(10);
    width: 100%;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .icon-wrapper {
    @include rectangle-shape(47, 52);
    position: relative;
    margin-right: 16px;
    border-radius: 4px;

    @include breakpoint-down(lg) {
      @include rectangle-shape(42, 45);
      margin-right: 13px;
    }

    @include breakpoint-down(sm) {
      @include rectangle-shape(43, 46);
      margin-right: 13px;
    }

    .icon {
      @include center-placement;
      color: $brand-black;
      font-size: 20px;

      @include breakpoint-down(lg) {
        font-size: 18px;
      }

      @include breakpoint-down(sm) {
        font-size: 19px;
      }
    }
  }

  .title {
    margin-bottom: 3px;
    @include font-height(12, 18);

    @include breakpoint-down(lg) {
      margin-bottom: 4px;
      @include font-height(11.75, 16);
    }
  }

  .meta {
    @include font-height(16, 20);

    @include breakpoint-down(lg) {
      @include font-height(15, 20);
    }

    @include breakpoint-down(sm) {
      @include font-height(14.75, 20);
    }
  }

  .link-indicator {
    position: absolute;
    font-size: 18px;
    bottom: 14px;
    right: 18px;

    @include breakpoint-down(lg) {
      font-size: 16px;
      bottom: 18px;
      right: 13px;
    }
  }
}
